doctype html
html(lang='en')
    head
        include ../shared/header.pug
        block meta
            meta(name='theme-color')
        title
            block title
        link(rel='favicon', href='./favicon.ico', type='image/x-icon')
        link(
            rel='apple-touch-icon',
            sizes='180x180',
            href='./apple-touch-icon.png'
        )
        link(
            rel='icon',
            type='image/png',
            sizes='32x32',
            href='./favicon-32x32.png'
        )
        link(
            rel='icon',
            type='image/png',
            sizes='16x16',
            href='./favicon-16x16.png'
        )
        link(rel='manifest', href='./site.webmanifest')
    body
        include ../shared/navbar.pug
        main
            block content
        include ../shared/footer.pug
    script(type='application/ld+json').
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Stylo",
            "url": "https://stylo123.netlify.app",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://stylo123.netlify.app/about{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
