link(
    href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tangerine&display=swap',
    rel='stylesheet'
)

link(
    href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tangerine&display=swap',
    rel='stylesheet'
)

link(
    href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto:wght@300&family=Tangerine&display=swap',
    rel='stylesheet'
)
