extends ../templates/base.pug
block meta
    meta(charset='UTF-8')
    meta(
        name='keywords',
        content='Foster Z Portfolio Home'
    )
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Foss')
    meta(name='robots', content='index,nofollow')
    meta(
        name='description',
        content=''
    )
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='canonical', href='https://fosterz.netlify.app')
block title
    | Foster Z | Portfolio | Home 
block content
    .index-container
        .index-background-image
            .index-main-section
                .header-section 
                    |
                    |
                    .index-group-header
                        h1 Hi!, I am Foster Z
                        h3 Full Stack Web Developer By Passion
                        h3 Ready To Face Challenges And Create Exotic Projects Using My Skills & Experience
                        h3 Developing Web Applications & Steadily Progressing Towards Other Types Of Developments
                    .index-header-logo
                        img(
                            src='./assets/img/logo.gif',
                            alt='Animated Version Of Stylo Logo In GIF Format'
                        )
                //- .intro-section
                //-     h2#whyme Why Me ?
                //-     .intro-cards 
                //-         |
                //-         |
                //-         .intro-card
                //-             .intro-card-header 
                //-                 |
                //-                 |
                //-                 i#speedometer.bi.bi-speedometer
                //-                 h3 Faster Delivery
                //-             .intro-card-content 
                //-                 |
                //-                 |
                //-                 p Get Your Product Built And Shipped In Less Time. Sometimes Very Fast.
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#palette.bi.bi-palette
                //-                 h3 Unique Design
                //-             .intro-card-content
                //-                 p Make Your Website Stand Out From All Other In Terms Of Design, Usability, Client Satisfaction & More
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#shield.bi.bi-shield-lock
                //-                 h3 Rocksolid Structure
                //-             .intro-card-content
                //-                 p Secure & Stable Backend For Reliable Data Sharing Between Database & Client. Privacy Matters.
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#rank.fa-solid.fa-ranking-star
                //-                 h3 SEO Ranking
                //-             .intro-card-content
                //-                 p Rank Higher On Search Engines Like Google, Bing, Yahoo For Targeted Key Words & Get More Traffic Without Extra Payments
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#maintenance.fa-solid.fa-broom
                //-                 h3 Maintenance
                //-             .intro-card-content
                //-                 p Keep Your Product Checked Always For Best Performance
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#unittest.fa-solid.fa-vial
                //-                 h3 Product Test
                //-             .intro-card-content
                //-                 p A Lot Of Tests Are Made During The Development To Ensure Best Possible User Experience In Production Mode
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#progress.fa-solid.fa-bars-progress
                //-                 h3 Progress Tracking
                //-             .intro-card-content
                //-                 p Track & Get Progress Details About Your Product's Completion.
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#dollar.fa-solid.fa-sack-dollar
                //-                 h3 Cost Effective
                //-             .intro-card-content
                //-                 p Quality Product At A Suitable Price. Value Your Coins
                //-         .intro-card 
                //-             |
                //-             |
                //-             .intro-card-header
                //-                 i#headset.fa-solid.fa-headset
                //-                 h3 Customer Support
                //-             .intro-card-content
                //-                 p Get Exclusive Support For Your Product At Any Time
                .index-btn-section 
                    |
                    |
                    button.dive-btn.btn 
                        |
                        |
                        a#divebtn(href='/about.html') About
                            |
                            i.bi.bi-arrow-right
