mixin progress-card(progress, id, header, content, imgSrc, imgAlt)
    .tilting-card-wrapper
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .tilting-card-body
            .card-image
                img(src=imgSrc, alt=imgAlt)
            .card-text
                header #{ header }
                p #{ content }
            .card-progress
                label(for=id)
                    | #{ progress }%
                progress.progress(id=id, value=progress, max=100)
