mixin skill(progress, id, header, content, languages, imgSrc, imgAlt)
    .tilting-card-wrapper
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .mouse-position-tracker
        .tilting-card-body
            .card-image
                img(src=imgSrc, alt=imgAlt)
            .card-text
                h2 #{ header }
                h4 #{ content }
                h5 #{ languages }
            .card-progress
                label(for=id)
                    | #{ progress }%
                progress.progress(
                    id=id,
                    value=progress,
                    max=100,
                    role='progressbar',
                    aria-valuenow=progress,
                    aria-valuemin='0',
                    aria-valuemax='100'
                )
